SalesOrder/WMBSalesOrder/com_kingfisher_oagis/9_5_1/Developer/BODs/GetSalesOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
  Author: Anand Patil
  Revision:    1.0
  Date:         10 May 2012
  Copyright 2012, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns="http://www.kingfisher.com/oagis/9" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="../Nouns/SalesOrder.xsd"/>
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../../WMBOAGISCanonicals/org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:element ibmSchExtn:docRoot="true" name="GetSalesOrder" type="GetSalesOrderType">
		<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/oagis/9">The purpose of the Get SalesOrder is to enable a business application module to request information concerning a specific sales order from another business application.  The reply to this BOD is the Show SalesOrder.

There are several possible business applications in several environments that may use this capability.  For example, a Sales Automation application may use this BOD to ask for information from a Customer Order application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetSalesOrderType">
		<xsd:complexContent>
			<xsd:extension base="oa:BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetSalesOrderDataAreaType">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/9">Is where the information that the BOD message carries is provided, in this case GetSalesOrder. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (SalesOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetSalesOrderDataAreaType">
		<xsd:sequence>
			<xsd:element ref="oa:Get"/>
			<xsd:element maxOccurs="unbounded" ref="SalesOrder"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>