CommonFlow/WMBCanonicals/com_kingfisher_oagis/9_5_1/Developer/BODs/CalculateDeliveryChargeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
  Author: Anand Patil
  Revision:    1.0
  Date:         20 Jan 2012
  Copyright 2012, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns="http://www.kingfisher.com/oagis/9" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="../Nouns/FulfilmentSource.xsd"/>
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:element ibmSchExtn:docRoot="true" name="CalculateDeliveryChargeResponse" type="CalculateDeliveryChargeResponseType">
	</xsd:element>
	<xsd:complexType name="CalculateDeliveryChargeResponseType">
		<xsd:complexContent>
			<xsd:extension base="oa:BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="CalculateDeliveryChargeResponseDataAreaType">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CalculateDeliveryChargeResponseDataAreaType">
		<xsd:sequence>
			<xsd:element ref="oa:Acknowledge"/>
			<xsd:element maxOccurs="unbounded" ref="FulfilmentSource"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>