CommonFlow/WMBCanonicals/com_kingfisher_oagis/9_5_1/Developer/BODs/ChangeSalesOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2012 (http://www.altova.com) by A Patil (Kingfisher Information Technology Services UK Ltd) --><!--
  Author: Anand Patil
  Revision:    1.0
  Date:         10 May 2012
  Copyright 2012, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns="http://www.kingfisher.com/oagis/9" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="../Nouns/SalesOrder.xsd"/>
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:element ibmSchExtn:docRoot="true" name="ChangeSalesOrder" type="ChangeSalesOrderType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/9">The purpose of the Change SalesOrder is to request that another business application component make changes to an existing Sales Order.

Processing Note:  This change must refer to the original document and/or item ordered.  The change processing assumes replacement of fields sent, with the exception of the fields that uniquely identify the document and/or its line, schedule or subline. These include the DocumentId and the LineNumber for the Line, Subline, and Schedule.

If any of the Field Identifiers above require changing, that constitutes a cancellation of the request and/or the addition of another Sales Order.

This BOD commonly causes updates to occur
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChangeSalesOrderType">
		<xsd:complexContent>
			<xsd:extension base="oa:BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="ChangeSalesOrderDataAreaType">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/9">Is where the information that the BOD message carries is provided, in this case ChangeSalesOrder. The information consists of a Verb and one or more Nouns. The verb (Change) indicates the action to be performed on the Noun (SalesOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeSalesOrderDataAreaType">
		<xsd:sequence>
			<xsd:element ref="oa:Change"/>
			<xsd:element maxOccurs="unbounded" ref="SalesOrder"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>