CommonFlow/WMBCanonicals/com_kingfisher_oagis/9_5_1/Developer/BODs/GetProductAvailability.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
  Author: Anand Patil
  Revision:    1.0
  Date:         06 Jan 2012
  Copyright 2012, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns="http://www.kingfisher.com/oagis/9" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="../Nouns/ProductAvailability.xsd"/>
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:element ibmSchExtn:docRoot="true" name="GetProductAvailability" type="GetProductAvailabilityType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/9">The purpose of the GetProductAvailability is to enable requests of product availability data by an Order Management business application to an Available to Promise (ATP) or Production business application.  The business process scenario is the Order Management application interacting with the Available to Promise or Production application in order to determine availability of a product for the customer.

This scenario is commonly referred to as Make to Order or Build to Order.
The response to this request is the ShowProductAvailability.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetProductAvailabilityType">
		<xsd:complexContent>
			<xsd:extension base="oa:BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetProductAvailabilityDataAreaType">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/9">Is where the information that the BOD message carries is provided, in this case GetProductAvailability. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (ProductAvailability).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetProductAvailabilityDataAreaType">
		<xsd:sequence>
			<xsd:element ref="oa:Get"/>
			<xsd:element maxOccurs="unbounded" ref="ProductAvailability"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>