CommonFlow/WMBCanonicals/com_kingfisher_oagis/9_5_1/Developer/BODs/SynchroniseProductSet.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2012 (http://www.altova.com) by A Patil (Kingfisher Information Technology Services UK Ltd) --><!--
  Author: Anand Patil
  Revision:    1.0
  Date:         13 Dec 2011
  Copyright 2011, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns="http://www.kingfisher.com/oagis/9" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="../Nouns/ProductSet.xsd"/>
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:element ibmSchExtn:docRoot="true" name="SynchroniseProductSet" type="SynchroniseProductSetType"/>
	<xsd:complexType name="SynchroniseProductSetType">
		<xsd:complexContent>
			<xsd:extension base="oa:BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SynchroniseProductSetDataAreaType">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/9">Is where the information that the BOD message carries is provided, in this case SynchroniseProductSet. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (ProductSet).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SynchroniseProductSetDataAreaType">
		<xsd:sequence>
			<xsd:element name="Synchronise" type="oa:SyncType"/>
			<xsd:element maxOccurs="unbounded" ref="ProductSet"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>