CommonFlow/WMBCanonicals/com_kingfisher_oagis/9_5_1/Developer/BODs/SynchronisePurchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2012 (http://www.altova.com) by A Patil (Kingfisher Information Technology Services UK Ltd) --><!--
  Author: Anand Patil
  Revision:    1.0
  Date:         06 Jan 2012
  Copyright 2012, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns="http://www.kingfisher.com/oagis/9" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="../Nouns/PurchaseOrder.xsd"/>
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:element ibmSchExtn:docRoot="true" name="SynchronisePurchaseOrder" type="SynchronisePurchaseOrderType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/9">The purpose of the Sync PurchaseOrder is to facilitate keeping sales or customer order information synchronized on separate data bases throughout an enterprise.  The Sync PurchaseOrder allows the adding of new sales orders and the modification of previously established sales orders.

This BOD commonly causes updates to occur.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SynchronisePurchaseOrderType">
		<xsd:complexContent>
			<xsd:extension base="oa:BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="SynchronisePurchaseOrderDataAreaType">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/oagis/9">Is where the information that the BOD message carries is provided, in this case SynchronisePurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (Sync) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SynchronisePurchaseOrderDataAreaType">
		<xsd:sequence>
			<xsd:element name="Synchronise" type="oa:SyncType"/>
			<xsd:element maxOccurs="unbounded" ref="PurchaseOrder"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>