SAPR3DELVRY03IDOC/SapDelvry03.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ukbq.kingfisher.com/SAPR3/DELVRY03/sapdelvry03" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:sapdelvry03="http://ukbq.kingfisher.com/SAPR3/DELVRY03/sapdelvry03" xmlns:sapdelvry03idocbo="http://ukbq.kingfisher.com/SAPR3/DELVRY03/sapdelvry03idocbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://ukbq.kingfisher.com/SAPR3/DELVRY03/sapdelvry03idocbo" schemaLocation="SapDelvry03IDocBO.xsd"/>
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter version="7.0.0.4_IF03" xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability"/>
</xsd:appinfo>
</xsd:annotation>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="commonj.connector.asi">
<asi:annotationSet asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:asi="commonj.connector.asi"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType name="SapDelvry03">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEBusinessObjectTypeMetadata>
<sapasi:IDocVersion>620</sapasi:IDocVersion>
<sapasi:SplitIDocPacket>true</sapasi:SplitIDocPacket>
<sapasi:Type>IDOC</sapasi:Type>
<sapasi:Operation>
<sapasi:Name>Create</sapasi:Name>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>DESADV</sapasi:MsgType>
<sapasi:MsgCode>ASN</sapasi:MsgCode>
<sapasi:MsgFunction/>
</sapasi:sapALEOperationMetadata>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>WHSORD</sapasi:MsgType>
<sapasi:MsgCode>DC</sapasi:MsgCode>
<sapasi:MsgFunction>985</sapasi:MsgFunction>
</sapasi:sapALEOperationMetadata>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>WHSORD</sapasi:MsgType>
<sapasi:MsgCode>DC</sapasi:MsgCode>
<sapasi:MsgFunction>FKI</sapasi:MsgFunction>
</sapasi:sapALEOperationMetadata>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>WHSORD</sapasi:MsgType>
<sapasi:MsgCode>DC</sapasi:MsgCode>
<sapasi:MsgFunction>RP</sapasi:MsgFunction>
</sapasi:sapALEOperationMetadata>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>WHSORD</sapasi:MsgType>
<sapasi:MsgCode>RCC</sapasi:MsgCode>
<sapasi:MsgFunction>135</sapasi:MsgFunction>
</sapasi:sapALEOperationMetadata>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>WHSORD</sapasi:MsgType>
<sapasi:MsgCode>RCC</sapasi:MsgCode>
<sapasi:MsgFunction/>
</sapasi:sapALEOperationMetadata>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>ZBQ_BACTRAC_OUT</sapasi:MsgType>
<sapasi:MsgCode/>
<sapasi:MsgFunction/>
</sapasi:sapALEOperationMetadata>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>ZBQ_BTCONNO_OUT</sapasi:MsgType>
<sapasi:MsgCode/>
<sapasi:MsgFunction/>
</sapasi:sapALEOperationMetadata>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>ZBQ_DMSLABEL_OUT</sapasi:MsgType>
<sapasi:MsgCode/>
<sapasi:MsgFunction/>
</sapasi:sapALEOperationMetadata>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>ZBQ_PARAGON_OUT</sapasi:MsgType>
<sapasi:MsgCode/>
<sapasi:MsgFunction/>
</sapasi:sapALEOperationMetadata>
<sapasi:sapALEOperationMetadata>
<sapasi:MsgType>ZBQ_SHPORD</sapasi:MsgType>
<sapasi:MsgCode/>
<sapasi:MsgFunction/>
</sapasi:sapALEOperationMetadata>
</sapasi:Operation>
</sapasi:sapALEBusinessObjectTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence maxOccurs="1" minOccurs="1">
<xsd:element maxOccurs="1" minOccurs="1" name="SAPTransactionID" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>SAPTransactionID</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>0</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:ForeignBOKeyRef/>
<sapasi:MaxLength>25</sapasi:MaxLength>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="25"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="qRFCQueueName" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>qRFCQueueName</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>0</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:ForeignBOKeyRef/>
<sapasi:MaxLength>25</sapasi:MaxLength>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="25"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="SapDelvry03IDocBO" nillable="true" type="sapdelvry03idocbo:SapDelvry03IDocBO">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>SapDelvry03IDocBO</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>0</sapasi:OffSet>
<sapasi:PrimaryKey>true</sapasi:PrimaryKey>
<sapasi:ForeignBOKeyRef/>
<sapasi:MaxLength>0</sapasi:MaxLength>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

    <xsd:element ibmSchExtn:docRoot="true" name="SapDelvry03" type="sapdelvry03:SapDelvry03"/>
</xsd:schema>