CommonFlow/WMBCanonicals/org_openapplications_platform/1_2_1/Common/OAGi/Components/OrderManagementComponents.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2012 (http://www.altova.com) by A Patil (Kingfisher Information Technology Services UK Ltd) --><!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    OAGIS Platform 1_2_1  
   Date:               19 Aug 2011 
   Copyright 1997-2011, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2011). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_platform/1_2_1/Common/OAGi/Components/OrderManagementComponents.xsd
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9" xmlns="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="Components.xsd"/>
	<xsd:complexType abstract="true" name="RequestHeaderType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">The abstract basis for the Header of all the Procurement Documents.

For a Procurement Document the CustomerParty is the party in which the items have been or will be SoldTo (i.e. the SoldToParty).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StatusEnabledHeaderType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Party"/>
					<xsd:element minOccurs="0" ref="CustomerParty"/>
					<xsd:element minOccurs="0" ref="SupplierParty"/>
					<xsd:element minOccurs="0" ref="ShipToParty"/>
					<xsd:element minOccurs="0" ref="PlannerContact"/>
					<xsd:element minOccurs="0" ref="CatalogReference"/>
					<xsd:element minOccurs="0" ref="ContractReference"/>
					<xsd:element minOccurs="0" ref="ExtendedAmount"/>
					<xsd:element minOccurs="0" ref="TotalAmount"/>
					<xsd:element minOccurs="0" ref="QualifiedAmount"/>
					<xsd:element minOccurs="0" ref="EnterpriseUnit"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RequestLineType">
		<xsd:complexContent>
			<xsd:extension base="StatusEnabledLineType">
				<xsd:sequence>
					<xsd:group minOccurs="0" ref="ItemInstanceGroup"/>
					<xsd:element minOccurs="0" ref="UnitPrice"/>
					<xsd:element minOccurs="0" ref="ExtendedAmount"/>
					<xsd:element minOccurs="0" ref="TotalAmount"/>
					<xsd:element minOccurs="0" ref="QualifiedAmount"/>
					<xsd:element minOccurs="0" ref="CatalogReference"/>
					<xsd:element minOccurs="0" ref="ContractReference"/>
					<xsd:element minOccurs="0" ref="RequiredDeliveryDateTime"/>
					<xsd:element minOccurs="0" ref="AllowSubstitutionIndicator"/>
					<xsd:element minOccurs="0" ref="ShipToParty"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DrawingAttachment"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RequestSubLineType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">The basis for the ProcurementDocumet SubLine.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LineType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="Item"/>
					<xsd:element minOccurs="0" name="Quantity" type="QuantityType">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/platform/1">Indicates the number of order items for the given line..</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DrawingReference"/>
					<xsd:element minOccurs="0" ref="CatalogReference"/>
					<xsd:element minOccurs="0" ref="ParentLineNumber"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcurementHeaderType">
		<xsd:complexContent>
			<xsd:extension base="RequestHeaderType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="BillToParty"/>
					<xsd:element minOccurs="0" ref="CarrierParty"/>
					<xsd:element minOccurs="0" ref="PayFromParty"/>
					<xsd:element minOccurs="0" ref="PartialShipmentAllowedIndicator"/>
					<xsd:element minOccurs="0" ref="DropShipmentAllowedIndicator"/>
					<xsd:element minOccurs="0" ref="EarlyShipmentAllowedIndicator"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="LicenseIndicator"/>
					<xsd:element minOccurs="0" ref="TaxExemptIndicator">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/platform/1">Specifies whether the associated element is exempt from withholding taxes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="TransportationTerm"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="PaymentTerm"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DistributedCharge"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DistributedTax"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Tax"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Distribution"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Charge"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Allowance"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcurementLineType">
		<xsd:complexContent>
			<xsd:extension base="RequestLineType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="PartialShipmentAllowedIndicator"/>
					<xsd:element minOccurs="0" ref="DropShipmentAllowedIndicator"/>
					<xsd:element minOccurs="0" ref="EarlyShipmentAllowedIndicator"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="LicenseIndicator"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="TransportationTerm"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="PaymentTerm"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DistributedCharge"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DistributedTax"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Tax"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Distribution"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Charge"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Allowance"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcurementScheduleType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">The Quantity Indicates the number of items that are to be deliveried on the Required Date or the number of items to be delivered on each occurence of the Schedule period frequency or the number of items to be delivered on each delivery where the number of deliveries is provided by the NumberOfDelivery field below.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LineType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="Quantity"/>
					<xsd:choice>
						<xsd:element minOccurs="0" ref="RequiredDeliveryDateTime"/>
						<xsd:element minOccurs="0" ref="ScheduleTimePeriod"/>
					</xsd:choice>
					<xsd:element minOccurs="0" ref="NumberOfDeliveries"/>
					<xsd:element minOccurs="0" ref="ShipmentQuantityTolerence"/>
					<xsd:element minOccurs="0" ref="ShipmentQuantityTolerance"/>
					<xsd:element minOccurs="0" ref="ShipmemtTimeTolerance"/>
					<xsd:element minOccurs="0" ref="ReasonCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderType">
		<xsd:complexContent>
			<xsd:extension base="ProcurementHeaderType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="SpecialPriceAuthorizationCode"/>
					<xsd:element minOccurs="0" ref="EarliestShipDateTime"/>
					<xsd:element minOccurs="0" ref="RequestedShipDateTime"/>
					<xsd:element minOccurs="0" ref="PromisedShipDateTime"/>
					<xsd:element minOccurs="0" ref="PromisedDeliveryDateTime"/>
					<xsd:element minOccurs="0" ref="PaymentMethodCode"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Payment"/>
					<xsd:element minOccurs="0" ref="ShippingInstructions"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrderLineType">
		<xsd:complexContent>
			<xsd:extension base="ProcurementLineType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="FreightClassification"/>
					<xsd:element minOccurs="0" ref="SpecialPriceAuthorizationCode"/>
					<xsd:element minOccurs="0" ref="SubstituteItemIndicator"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="RequisitionReference"/>
					<xsd:element minOccurs="0" ref="PromisedShipDateTime"/>
					<xsd:element minOccurs="0" ref="PromisedDeliveryDateTime"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ShippingInstructions"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PriceBreakType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element minOccurs="0" ref="DiscountAmount">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/platform/1">Allows a flat amount to be discounted per item.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" ref="DiscountPercent">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/platform/1">Indicates the percentage of the PriceBreak.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" ref="OverridePrice">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/platform/1">This is the price that overrides the list price when a given price break requirement is reached. For example, if a customer orders over 50,000 dollars worth of computer equipment, he may qualify for an overriding price.  The list price of $800 per will be modified to $700 per</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element minOccurs="0" ref="PriceBreakQuantity">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/platform/1">The quantity that must be purchased of the item or commodity on a given price list line before the benefit, or until the detriment of a given price break line will apply.  For example, if a customer orders up to 5000 units of flour, they will get a price of $8:00 a case.  If the customer buys 5500 units of flour they will get a price of $7.50 a case</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" ref="PriceBreakAmount">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/platform/1">The monetary amount that must be spent on a given price list line before the benefit or until the detriment of a given price break line will apply.  For example, if a customer orders up to 5000 dollars worth of flour, they will get a price of $8:00 a case.  If the customer buys 5500 dollars worth of flour they will get a price of $7.50 a case</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element minOccurs="0" ref="EffectiveTimePeriod"/>
			<xsd:group minOccurs="0" ref="FreeFormTextGroup"/>
			<xsd:element minOccurs="0" ref="UserArea"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PriceBreak" type="PriceBreakType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">This defines the prices and modifiers to the price for buying a given quantity or value of an item or item category on a price list line. For Price List Lines that specify Items the price breaks can be specified in terms of quantity or amount. For Price list lines that specify commodity, price breaks can only be specified in terms of currency amount</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="QualificationTermType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="ID"/>
			<xsd:element minOccurs="0" ref="Type">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/platform/1">Code type specifing the type of qualification term.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ValueText"/>
			<xsd:group minOccurs="0" ref="FreeFormTextGroup"/>
			<xsd:element minOccurs="0" ref="UserArea"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="NormalizedStringType">
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="QualificationTerm" type="QualificationTermType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">This is used to describe preferences that will be used to evaluate responses to an RFQ. For example, to identify a preference for sharing CAD data in VRML format the ID = VRML, Type = CAD and Value = 1 or Yes</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OrderCommissionType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Contains the relevant information about the salesperson and the associated commission information. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0">
			<xsd:element minOccurs="0" ref="SalesOrganizationIDs"/>
			<xsd:element minOccurs="0" ref="SalesPerson"/>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="Amount"/>
					<xsd:element minOccurs="0" ref="Quantity"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="OrderAmount"/>
					<xsd:element minOccurs="0" ref="OrderQuantity"/>
					<xsd:element minOccurs="0" ref="Percentage"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element minOccurs="0" ref="UserArea"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="OrderCommission" type="OrderCommissionType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Contains the relevant information about the salesperson and the associated commission information. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>