Supplier/WMBToFKI/hostToWcs.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) --><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="907" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="messageListToWcs">
    <xs:annotation>
      <xs:documentation>message holder</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="datetime" type="xs:dateTime"/>
        <xs:element name="sequenceNo" type="sequenceNoType"/>
        <xs:choice>
          <xs:element maxOccurs="unbounded" name="vendorUpdate" type="vendorUpdateType"/>
          <xs:element maxOccurs="unbounded" name="purchaseOrder" type="purchaseOrdersInterface"/>
          <xs:element maxOccurs="unbounded" name="productDelete" type="productDeleteType"/>
          <xs:element maxOccurs="unbounded" name="productUpdate" type="productUpdateType"/>
          <xs:element maxOccurs="unbounded" name="siteUpdate" type="siteUpdateType"/>
          <xs:element maxOccurs="unbounded" name="siteDelete" type="siteDeleteType"/>
          <!--  <xs:element maxOccurs="unbounded" name="vendorUpdate" type="vendorUpdateType"/>-->
          <xs:element maxOccurs="unbounded" name="vendorDelete" type="vendorDeleteType"/>
          <xs:element maxOccurs="unbounded" name="hierarchyUpdate" type="hierarchyUpdateType"/>
          <xs:element maxOccurs="unbounded" name="hierarchyDelete" type="hierarchyDeleteType"/>
          <xs:element maxOccurs="unbounded" name="storeOrder" type="storeOrdersInterface"/>
          <xs:element maxOccurs="unbounded" name="rccOrder" type="rccOrdersInterface"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="purchaseOrdersInterface">
    <xs:annotation>
      <xs:documentation>Defines inbound PO data</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="poNumber" type="poNumberType"/>
      <xs:element name="poLineNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="3"/>
            <xs:pattern value="[0-9]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="poType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sapVendorNumber" type="sapVendorNumberType"/>
      <xs:element name="poDeliveryDate" type="xs:date"/>
      <xs:element name="sapSiteCode" type="sapSiteCodeType"/>
      <xs:element name="bnqProductCode" type="bnqproductcodeType"/>
      <xs:element name="qtyVendorPacks">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sellUnitsPerVendorPack">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,7}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="lineCost">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}\.[0-9]{5}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ean" type="eanType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="storeOrdersInterface">
    <xs:annotation>
      <xs:documentation>Defines outbound store order data</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="1">
      <xs:element name="dcLocation" type="dcLocationType"/>
      <xs:element name="sapSiteCode" type="sapSiteCodeType"/>
      <xs:element name="storeOrderNumber">
        <xs:simpleType>
          <xs:restriction base="storeOrderNumberType">
            <!-- <xs:minLength value="5"/>
            <xs:maxLength value="10"/> -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orderLine">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="5"/>
            <xs:pattern value="[0-9]{1,9}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bnqProductCode" type="bnqproductcodeType"/>
      <xs:element name="ean" type="eanType"/>
      <xs:element name="qtyStorePacks">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sellUnitsPerPack">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="storeOrderType" type="storeOrderType"/>
      <xs:element name="storeDeliveryDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Stored so that we can return it in the store order despatch message</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rccOrdersInterface">
    <xs:annotation>
      <xs:documentation>Defines outbound store order data</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element name="dcLocation" type="dcLocationType"/>
      <xs:element name="storeOrderNumber">
        <xs:simpleType>
          <xs:restriction base="storeOrderNumberType">
            <!-- <xs:minLength value="5"/>
            <xs:maxLength value="10"/> -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="storeDeliveryDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Stored so that we can return it in the store order despatch message</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="storeGoodsIssueDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Stored so that we can return it in the store order despatch message</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="storeOrderType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="rccOrderLine">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="orderLine">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="5"/>
                  <xs:pattern value="[0-9]{1,9}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="bnqProductCode" type="bnqproductcodeType"/>
            <xs:element name="ean" type="eanType"/>
            <xs:element name="sellUnitsPerPack">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{1,9}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="sapSiteCode" type="sapSiteCodeType"/>
            <xs:element name="handlingMethod" type="xs:string"/>
            <xs:element name="qtyStorePacks">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{1,9}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productUpdateType">
    <xs:annotation>
      <xs:documentation>product update message type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="bnqProductCode" type="bnqproductcodeType"/>
      <xs:element name="ean" type="eanType"/>
      <xs:element name="sapVendorNumber" type="sapVendorNumberType"/>
      <xs:element name="sapVendorSubRange">
        <xs:simpleType>
          <xs:restriction base="sapVendorSubRangeType">
            <xs:length value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="purchaseGroup" type="purchaseGroupType"/>
      <xs:element name="colour">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="deptCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sapMerchandiseCat">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="itemDescription" type="itemDescriptionType"/>
      <xs:element name="size" type="sizeType"/>
      <xs:element name="packSize">
        <xs:simpleType>
          <xs:restriction base="packSizeType">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="repackFactor">
        <xs:simpleType>
          <xs:restriction base="repackFactorType">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorProductRef">
        <xs:simpleType>
          <xs:restriction base="vendorProductRefType">
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="productClassification" type="productClassificationType"/>
      <xs:element name="discontinued">
        <xs:simpleType>
          <xs:restriction base="discontinuedType">
            <xs:pattern value="[YN]"/>
            <xs:enumeration value="Y"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="itemCost">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="9"/>
            <xs:pattern value="[0-9]{1,5}\.[0-9]{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sellUnitCaseLength">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sellUnitCaseWidth">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sellUnitCaseHeight">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sellUnitCaseWeight">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sellUnitCaseCube">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}\.[0-9]{0,3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="shipUnitCaseLength">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="shipUnitCaseWidth">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="shipUnitCaseHeight">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="shipUnitCaseWeight">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="shipUnitCaseCube">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}\.[0-9]{0,3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="palletSize">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:enumeration value="L"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorPacksPerLayer">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="[0-9]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="layersPerPallet">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="[0-9]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorCaseLength">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorCaseWidth">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorCaseHeight">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorCaseWeight">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}\.[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorCaseCube">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}\.[0-9]{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorPalletQty">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,6}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorBuyingMultiple">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,6}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="handlingCategory">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="3"/>
            <xs:pattern value="[0-9]{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productDeleteType">
    <xs:annotation>
      <xs:documentation>product delete message type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ean" type="eanType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="siteUpdateType">
    <xs:annotation>
      <xs:documentation>site update message type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sapSiteCode" type="sapSiteCodeType"/>
      <xs:element name="bnqStoreCode" type="bnqStoreCodeType"/>
      <xs:element name="distChannel">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="storeName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="storeAdd1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="storeAdd2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="storeAdd3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="storeAdd4">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="postcode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="phone">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="siteDeleteType">
    <xs:annotation>
      <xs:documentation>site delete message type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sapSiteCode" type="sapSiteCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vendorUpdateType">
    <xs:annotation>
      <xs:documentation>vendor update message type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sapVendorNumber" type="sapVendorNumberType"/>
      <xs:element name="vendorName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorAdd1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="vendorAdd2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorAdd3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vendorAdd4">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="postcode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="phone">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="fax">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vendorDeleteType">
    <xs:annotation>
      <xs:documentation>vendor delete message type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sapVendorNumber" type="sapVendorNumberType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hierarchyUpdateType">
    <xs:annotation>
      <xs:documentation>hierarchy update message type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sapMerchandiseCat">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="8"/>
            <xs:pattern value="[0-9]{8}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="hierarchyName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hierarchyDeleteType">
    <xs:annotation>
      <xs:documentation>hierarchy delete message type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sapMerchandiseCat">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="sequenceNoType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="99999999"/>
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bnqproductcodeType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eanType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="13"/>
      <xs:pattern value="[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sapVendorNumberType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="6"/>
      <xs:pattern value="[0-9]{6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sapSiteCodeType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="poNumberType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="repackFactorType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="99999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="itemDescriptionType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dcLocationType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="storeOrderNumberType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="storeOrderType">
    <xs:annotation>
      <xs:documentation>xs:string E/R/A</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
      <xs:enumeration value="E"/>
      <xs:enumeration value="R"/>
      <xs:enumeration value="A"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="packSizeType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="99999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="poLineNumber">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vendorBuyingMultipleType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:maxExclusive value="100000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sellUnitCaseWeightType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0"/>
      <xs:maxExclusive value="1000000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bnqStoreCodeType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="poType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lineCostType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:float">
      <xs:pattern value="[0-9]{1,8}\.[0-9]{1,5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="orderLineType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sapVendorSubRangeType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vendorProductRefType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="purchaseGroupType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sizeType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="productClassificationType">
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="discontinuedType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>