SalesOrder/WMBSalesOrder/com_kingfisher_oagis/9_5_1/Services/WebServices/WSDL/SalesOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2012 (http://www.altova.com) by A Patil (Kingfisher Information Technology Services UK Ltd) --><!--

  Author: Anand Patil
  Revision:    1.0
  Date:         17 May 2012, updated 12 Oct 12
  Copyright 2012, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
--><definitions targetNamespace="http://www.kingfisher.com/Services/SalesOrderService/1.0" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:koa="http://www.kingfisher.com/oagis/9" xmlns:koaws="http://www.kingfisher.com/Services/SalesOrderService/1.0" xmlns:ns="http://www.openapplications.org/oagis/9" xmlns:ns1="http://www.openapplications.org/oagis/9/IANAMIMEMediaTypes:2003" xmlns:ns2="http://www.openapplications.org/oagis/9/currencycode/54217:2001" xmlns:ns3="http://www.openapplications.org/oagis/9/languagecode/5639:1988" xmlns:ns4="http://www.openapplications.org/oagis/9/unitcode/66411:2001" xmlns:ns5="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:ns6="http://www.openapplications.org/oagis/9/codelists" xmlns:ns7="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="SalesOrderService_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="SynchroniseSalesOrderBinding" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="SynchroniseSalesOrderJMSBinding" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="ResponseSalesOrderJMSBinding" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="RequestSalesOrderBinding" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="RequestSalesOrderJMSBinding" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="SalesOrderBinding" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="ResponseSalesOrderBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:include schemaLocation="SalesOrderService_InlineSchema1.xsd"/>
    </xsd:schema>
	</types>
	<message name="SynchroniseSalesOrder">
		<part element="koa:SynchroniseSalesOrder" name="Message"/>
	</message>
	<message name="ProcessSalesOrder">
		<part element="koa:ProcessSalesOrder" name="Message"/>
	</message>
	<message name="FaultData">
		<part element="koa:FaultData" name="parameter"/>
	</message>
	<message name="GetSalesOrder">
		<part element="koa:GetSalesOrder" name="parameter"/>
	</message>
	<message name="ShowSalesOrder">
		<part element="koa:ShowSalesOrder" name="parameter"/>
	</message>
	<message name="ChangeSalesOrder">
		<part element="koa:ChangeSalesOrder" name="parameter"/>
	</message>
	<message name="RespondSalesOrder">
		<part element="koa:RespondSalesOrder" name="parameter"/>
	</message>
	<portType name="SynchroniseSalesOrderPortType">
		<operation name="SynchroniseSalesOrder">
			<input message="koaws:SynchroniseSalesOrder"/>
		</operation>
	</portType>
	<portType name="SalesOrderPortType">
		<operation name="GetSalesOrder">
			<input message="koaws:GetSalesOrder"/>
			<output message="koaws:ShowSalesOrder"/>
			<fault message="koaws:FaultData" name="GetSalesOrderFaultData"/>
		</operation>
		<operation name="ChangeSalesOrder">
			<input message="koaws:ChangeSalesOrder"/>
			<output message="koaws:RespondSalesOrder"/>
			<fault message="koaws:FaultData" name="ChangeSalesOrderFaultData"/>
		</operation>
	</portType>
	<portType name="RequestSalesOrderPortType">
		<operation name="ChangeSalesOrder">
			<input message="koaws:ChangeSalesOrder"/>
		</operation>
		<operation name="ProcessSalesOrder">
			<input message="koaws:ProcessSalesOrder"/>
		</operation>
	</portType>
	<portType name="ResponseSalesOrderPortType">
		<operation name="RespondSalesOrder">
			<input message="koaws:RespondSalesOrder"/>
		</operation>
	</portType>
	<binding name="SynchroniseSalesOrderBinding" type="koaws:SynchroniseSalesOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="SynchroniseSalesOrder">
			<soap:operation soapAction="http://www.kingfisher.com/Services/SalesOrderService/SynchroniseSalesOrderPortType/SynchroniseSalesOrder/1.0" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SynchroniseSalesOrderJMSBinding" type="koaws:SynchroniseSalesOrderPortType" xmlns:soapjms="http://www.w3.org/2010/soapjms/">
		<soap:binding style="document" transport="http://www.w3.org/2010/soapjms/"/>
		<soapjms:jndiConnectionFactoryName>kingfisher.jms.ConnectionFactory</soapjms:jndiConnectionFactoryName>
		<soapjms:deliveryMode>PERSISTENT</soapjms:deliveryMode>
		<operation name="SynchroniseSalesOrder">
			<soap:operation style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="SalesOrderBinding" type="koaws:SalesOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetSalesOrder">
			<soap:operation soapAction="http://www.kingfisher.com/Services/SalesOrderService/SalesOrderPortType/GetSalesOrder/1.0"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="GetSalesOrderFaultData">
				<soap:fault name="GetSalesOrderFaultData" use="literal"/>
			</fault>
		</operation>
		<operation name="ChangeSalesOrder">
			<soap:operation soapAction="http://www.kingfisher.com/Services/SalesOrderService/SalesOrderPortType/ChangeSalesOrder/1.0"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ChangeSalesOrderFaultData">
				<soap:fault name="ChangeSalesOrderFaultData" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="RequestSalesOrderBinding" type="koaws:RequestSalesOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ChangeSalesOrder">
			<soap:operation soapAction="http://www.kingfisher.com/Services/SalesOrderService/RequestSalesOrderPortType/ChangeSalesOrder/1.0"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ProcessSalesOrder">
			<soap:operation soapAction="http://www.kingfisher.com/Services/SalesOrderService/SynchroniseSalesOrderPortType/ProcessSalesOrder/1.0" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseSalesOrderBinding" type="koaws:ResponseSalesOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="RespondSalesOrder">
			<soap:operation soapAction="http://www.kingfisher.com/Services/SalesOrderService/ResponseSalesOrderPortType/RespondSalesOrder/1.0"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="RequestSalesOrderJMSBinding" type="koaws:RequestSalesOrderPortType" xmlns:soapjms="http://www.w3.org/2010/soapjms/">
		<soap:binding style="document" transport="http://www.w3.org/2010/soapjms/"/>
		<soapjms:jndiConnectionFactoryName>kingfisher.jms.ConnectionFactory</soapjms:jndiConnectionFactoryName>
		<soapjms:deliveryMode>PERSISTENT</soapjms:deliveryMode>
		<operation name="ChangeSalesOrder">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="ProcessSalesOrder">
			<soap:operation style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="ResponseSalesOrderJMSBinding" type="koaws:ResponseSalesOrderPortType" xmlns:soapjms="http://www.w3.org/2010/soapjms/">
		<soap:binding style="document" transport="http://www.w3.org/2010/soapjms/"/>
		<soapjms:jndiConnectionFactoryName>kingfisher.jms.ConnectionFactory</soapjms:jndiConnectionFactoryName>
		<soapjms:deliveryMode>PERSISTENT</soapjms:deliveryMode>
		<operation name="RespondSalesOrder">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<service name="SynchroniseSalesOrder">
		<port binding="koaws:SynchroniseSalesOrderBinding" name="SynchroniseSalesOrderBinding">
			<soap:address location="http://www.kingfisher.com/Services/SynchroniseSalesOrder/1.0"/>
		</port>
		<port binding="koaws:SynchroniseSalesOrderJMSBinding" name="SynchroniseSalesOrderJMSBinding">
			<soap:address location="jms:jndi:ConfigQueName_v2.0?targetService=SalesOrdert&amp;priority=8&amp;userprop=ConfigUserProp"/>
		</port>
	</service>
	<service name="SalesOrderService">
		<port binding="koaws:SalesOrderBinding" name="SalesOrderBinding">
			<soap:address location="http://www.kingfisher.com/Services/SalesOrder/1.0"/>
		</port>
	</service>
	<service name="RequestSalesOrder">
		<port binding="koaws:RequestSalesOrderBinding" name="RequestSalesOrderBinding">
			<soap:address location="http://www.kingfisher.com/Services/RequestSalesOrder/1.0"/>
		</port>
		<port binding="koaws:RequestSalesOrderJMSBinding" name="RequestSalesOrderJMSBinding">
			<soap:address location="jms:jndi:ConfigQueName?targetService=SalesOrdert&amp;priority=8&amp;userprop=ConfigUserProp"/>
		</port>
	</service>
	<service name="ResponseSalesOrder">
		<port binding="koaws:ResponseSalesOrderBinding" name="ResponseSalesOrderBinding">
			<soap:address location="http://www.kingfisher.com/Services/ResponseSalesOrder/1.0"/>
		</port>
		<port binding="koaws:ResponseSalesOrderJMSBinding" name="ResponseSalesOrderJMSBinding">
			<soap:address location="jms:jndi:ConfigQueName?targetService=SalesOrdert&amp;priority=8&amp;userprop=ConfigUserProp"/>
		</port>
	</service>
</definitions>