CommonFlow/WMBOAGISCanonicals/com_kingfisher_platform/1_2_1/Common/OAGi/Components/CRMComponents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.kingfisher.com/oagis/9" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" targetNamespace="http://www.kingfisher.com/oagis/9" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../../org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:include schemaLocation="Components.xsd"/>
	<xsd:complexType name="CRMHeaderType">
		<xsd:complexContent>
			<xsd:extension base="oa:StatusEnabledHeaderType">
				<xsd:sequence>
					<xsd:element ref="oa:Name" minOccurs="0"/>
					<xsd:element ref="oa:CloseReasonCode" minOccurs="0"/>
					<xsd:element ref="oa:Interests" minOccurs="0"/>
					<xsd:element ref="oa:TotalAmount" minOccurs="0"/>
					<xsd:element ref="oa:BudgetedAmount" minOccurs="0"/>
					<xsd:element ref="oa:ReceivedCode" minOccurs="0"/>
					<xsd:element ref="oa:SourceID" minOccurs="0"/>
					<xsd:element ref="CustomerParty" minOccurs="0"/>
					<xsd:element ref="OwnerParty" minOccurs="0"/>
					<xsd:element ref="SalesContact" minOccurs="0"/>
					<xsd:element ref="CompetitorParty" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="MarketingProgram" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="oa:QuoteReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="SalesActivity" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="SalesTask" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CRMLineType">
		<xsd:complexContent>
			<xsd:extension base="oa:StatusEnabledLineType">
				<xsd:sequence>
					<xsd:element ref="Item" minOccurs="0"/>
					<xsd:element ref="oa:Amount" minOccurs="0"/>
					<xsd:element ref="oa:Quantity" minOccurs="0"/>
					<xsd:element ref="CompetitorParty" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="oa:CompetingItem" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="MarketingProgram" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SalesActivityType">
		<xsd:complexContent>
			<xsd:extension base="SalesActivityBaseType">
				<xsd:sequence>
					<xsd:element ref="oa:UserArea" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SalesActivityBaseType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Captures the Sales Activity.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="oa:ID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="SalesActivityType" minOccurs="0"/>
			<xsd:element ref="oa:DateTime" minOccurs="0"/>
			<xsd:element ref="oa:MaterialRequested" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="oa:MaterialSent" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="oa:EmailResultCode" minOccurs="0"/>
			<xsd:element ref="oa:RequestContactIndicator" minOccurs="0"/>
			<xsd:element ref="oa:Result" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:group ref="oa:FreeFormTextGroup" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="oa:SalesActivityCodeContentType" use="optional"/>
	</xsd:complexType>
	<xsd:element name="SalesActivity" type="SalesActivityType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">An associated sales activity as a result of the lead/opportunity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesTask" type="SalesTaskType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">This will tell all the associated Tasks which have been associated with this Opportunity. It should tell who created it, who owns it, what the status is, task Priority, Planned Start and End Date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesTaskType">
		<xsd:sequence>
			<xsd:element ref="oa:ID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="SalesTaskType" minOccurs="0"/>
			<xsd:element ref="oa:Subject" minOccurs="0"/>
			<xsd:element ref="oa:PriorityCode" minOccurs="0"/>
			<xsd:group ref="oa:FreeFormTextGroup" minOccurs="0"/>
			<xsd:element ref="oa:Status" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/platform/1">Task status such as in plannig, in prorgress, completed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="oa:CategoryCodes" minOccurs="0"/>
			<xsd:element ref="oa:PrivateIndicator" minOccurs="0"/>
			<xsd:element ref="oa:ParentTaskID" minOccurs="0"/>
			<xsd:element ref="oa:EscalationLevelCode" minOccurs="0"/>
			<xsd:element ref="oa:PlannedTimePeriod" minOccurs="0"/>
			<xsd:element ref="oa:ScheduledTimePeriod" minOccurs="0"/>
			<xsd:element ref="oa:ActualTimePeriod" minOccurs="0"/>
			<xsd:element ref="OwnerParty" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/platform/1">Genreally the creator of task is the Owner, although in some cases the ownership could be transferred too.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AssignedToContact" minOccurs="0"/>
			<xsd:element ref="oa:AssigneeType" minOccurs="0"/>
			<xsd:element ref="oa:AssigneeStatus" minOccurs="0"/>
			<xsd:element ref="oa:SourceID" minOccurs="0"/>
			<xsd:element ref="CustomerParty" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/platform/1">The task is about what type of Customer "Organization", "Person" or "RelationShips" etc. ??? This should be a Base type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="oa:SalesLeadReference" minOccurs="0"/>
			<xsd:element ref="oa:OpportunityReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="oa:ServiceRequestReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="oa:CompletionPercent" minOccurs="0"/>
			<xsd:element ref="oa:CompletedDuration" minOccurs="0"/>
			<xsd:element ref="oa:PlannedEffortDuration" minOccurs="0"/>
			<xsd:element ref="oa:ActualEffortDuration" minOccurs="0"/>
			<xsd:element ref="oa:RepeatingFrequencyCode" minOccurs="0"/>
			<xsd:element ref="Contact" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:group ref="oa:ReferencesGroup" minOccurs="0"/>
			<xsd:element ref="oa:UserArea" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="oa:SalesTaskCodeContentType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="AppointmentBaseType">
		<xsd:sequence>
			<xsd:element ref="oa:DateTime" minOccurs="0"/>
			<xsd:element ref="Location" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/platform/1">Location of the appointment... For example: Office; Home</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="oa:FreeFormTextGroup" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AppointmentType">
		<xsd:complexContent>
			<xsd:extension base="AppointmentBaseType">
				<xsd:sequence>
					<xsd:element ref="oa:UserArea" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Appointment" type="AppointmentType"/>
	<xsd:element name="Financing" type="FinancingType"/>
	<xsd:complexType name="FinancingBaseType">
		<xsd:sequence>
			<xsd:element ref="oa:Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/platform/1">Code type specifing the type of Financing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="oa:PaymentAmount" minOccurs="0"/>
			<xsd:element ref="oa:BalanceAmount" minOccurs="0"/>
			<xsd:element ref="oa:FinalAmount" minOccurs="0"/>
			<xsd:element ref="oa:ResidualAmount" minOccurs="0"/>
			<xsd:element ref="oa:Term" minOccurs="0"/>
			<xsd:element ref="oa:MaturityDateTime" minOccurs="0"/>
			<xsd:element ref="FinancialParty" minOccurs="0"/>
			<xsd:element ref="oa:DownPaymentAmount" minOccurs="0"/>
			<xsd:element ref="oa:TotalAmount" minOccurs="0"/>
			<xsd:element ref="PaymentAuthorization" minOccurs="0"/>
			<xsd:element ref="oa:CreditRatingCode" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="oa:NormalizedStringType"/>
	</xsd:complexType>
	<xsd:complexType name="FinancingType">
		<xsd:complexContent>
			<xsd:extension base="FinancingBaseType">
				<xsd:sequence>
					<xsd:element ref="oa:UserArea" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="MarketingProgram" type="MarketingProgramType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Indicates the Marketing Campaign that the Lead is eligible for</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MarketingProgramBaseType">
		<xsd:sequence>
			<xsd:element ref="oa:ID" minOccurs="0"/>
			<xsd:group ref="oa:FreeFormTextGroup" minOccurs="0"/>
			<xsd:element ref="oa:OfferDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="oa:OpportunityType" minOccurs="0"/>
			<xsd:element ref="oa:OpportunityMethodCode" minOccurs="0"/>
			<xsd:element ref="oa:Discount" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MarketingProgramType">
		<xsd:complexContent>
			<xsd:extension base="MarketingProgramBaseType">
				<xsd:sequence>
					<xsd:element ref="oa:UserArea" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SalesActivityType" type="oa:SalesActivityCodeType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Code type specifing the type of Sales Activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesTaskType" type="oa:SalesTaskCodeType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Code type specifing the type of Sales Task.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
