SAPR3GenericOutbound/SAPR3WPUFIB01IDOC/SapWpufib01E2wpf01.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ukbq.kingfisher.com/SAPR3/WPUFIB01/sapwpufib01e2wpf01" xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:sapwpufib01e2wpf01="http://ukbq.kingfisher.com/SAPR3/WPUFIB01/sapwpufib01e2wpf01" xmlns:sapwpufib01e2wpf02="http://ukbq.kingfisher.com/SAPR3/WPUFIB01/sapwpufib01e2wpf02" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://ukbq.kingfisher.com/SAPR3/WPUFIB01/sapwpufib01e2wpf02" schemaLocation="SapWpufib01E2wpf02.xsd"/>
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter version="7.5.0.2_IF01" xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability"/>
</xsd:appinfo>
</xsd:annotation>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="commonj.connector.asi">
<asi:annotationSet asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:asi="commonj.connector.asi"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType name="SapWpufib01E2wpf01">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEBusinessObjectTypeMetadata>
</sapasi:sapALEBusinessObjectTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence maxOccurs="1" minOccurs="1">
<xsd:element maxOccurs="1" minOccurs="0" name="VORGDATUM" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>VORGDATUM</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>0</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>8</sapasi:MaxLength>
<sapasi:ForeignBOKeyRef/>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="BONNUMMER" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>BONNUMMER</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>8</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>15</sapasi:MaxLength>
<sapasi:ForeignBOKeyRef/>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="ERFASSER" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>ERFASSER</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>23</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>10</sapasi:MaxLength>
<sapasi:ForeignBOKeyRef/>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="VORGANGART" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>VORGANGART</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>33</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>4</sapasi:MaxLength>
<sapasi:ForeignBOKeyRef/>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="500" minOccurs="1" name="SapWpufib01E2wpf02" nillable="true" type="sapwpufib01e2wpf02:SapWpufib01E2wpf02">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>E2WPF02</sapasi:FieldName>
<sapasi:SegmentHierarchy>03</sapasi:SegmentHierarchy>
<sapasi:OffSet>0</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:SegTtyp>E1WPF02</sapasi:SegTtyp>
<sapasi:MaxLength>0</sapasi:MaxLength>
<sapasi:ForeignBOKeyRef/>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

</xsd:schema>