Payment/WMBPayment/com_kingfisher_oagis/9_5_1/Developer/BODs/GetToken.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2012 rel. 2 (http://www.altova.com) by Nikhil Soste (Kingfisher Information Technology Services UK Ltd) --><!--

  Author: Nikhil Soste
  Revision:    1.0
  Date:         02 Mar 2013
  Copyright 2011, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
  --><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns="http://www.kingfisher.com/oagis/9" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="../../../../../WMBOAGISCanonicals/com_kingfisher_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../../WMBOAGISCanonicals/org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:element ibmSchExtn:docRoot="true" name="GetToken" type="GetTokenType"/>
	<xsd:complexType name="GetTokenType">
		<xsd:complexContent>
			<xsd:extension base="oa:BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="GetTokenDataAreaType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetTokenDataAreaType">
		<xsd:sequence>
			<xsd:element ref="oa:Get"/>
			<xsd:element maxOccurs="unbounded" ref="Payment"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>