Product/SAPR3ZARTMASCPIDOC/SapZartmasCpZ2mps000.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ukbq.kingfisher.com/SAPR3/ZARTMASCP/sapzartmascpz2mps000" xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:sapzartmascpz2mps000="http://ukbq.kingfisher.com/SAPR3/ZARTMASCP/sapzartmascpz2mps000" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter version="7.0.0.4_IF03" xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability"/>
</xsd:appinfo>
</xsd:annotation>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="commonj.connector.asi">
<asi:annotationSet asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:asi="commonj.connector.asi"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType name="SapZartmasCpZ2mps000">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEBusinessObjectTypeMetadata>
</sapasi:sapALEBusinessObjectTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence maxOccurs="1" minOccurs="1">
<xsd:element maxOccurs="1" minOccurs="0" name="MSGFN" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>MSGFN</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>0</sapasi:OffSet>
<sapasi:PrimaryKey>true</sapasi:PrimaryKey>
<sapasi:ForeignBOKeyRef/>
<sapasi:MaxLength>3</sapasi:MaxLength>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="MATNR" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>MATNR</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>3</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:ForeignBOKeyRef/>
<sapasi:MaxLength>18</sapasi:MaxLength>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="18"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="STATUS" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata>
<sapasi:FieldName>STATUS</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>21</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:ForeignBOKeyRef/>
<sapasi:MaxLength>2</sapasi:MaxLength>
</sapasi:sapALEPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

</xsd:schema>