CommonFlow/WMBCanonicals/com_kingfisher_platform/1_2_1/Common/OAGi/Components/OrderManagementComponents.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2012 (http://www.altova.com) by A Patil (Kingfisher Information Technology Services UK Ltd) --><!--
  Author: Anand Patil
  Revision:    1.0
  Date:         06 Jan 2012
  Copyright 2011, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns="http://www.kingfisher.com/oagis/9" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../../org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:include schemaLocation="Components.xsd"/>
	<xsd:include schemaLocation="PIMComponents.xsd"/>
	<xsd:complexType abstract="true" name="RequestHeaderType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">The abstract basis for the Header of all the Procurement Documents.

For a Procurement Document the CustomerParty is the party in which the items have been or will be SoldTo (i.e. the SoldToParty).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oa:StatusEnabledHeaderType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="CustomerParty"/>
					<xsd:element minOccurs="0" ref="ShipToParty"/>
					<xsd:element minOccurs="0" ref="BillToParty"/>
					<xsd:element minOccurs="0" ref="PayFromParty"/>
					<xsd:element minOccurs="0" ref="PlannerContact"/>
					<xsd:element minOccurs="0" ref="oa:CatalogReference"/>
					<xsd:element minOccurs="0" ref="oa:ContractReference"/>
					<xsd:element minOccurs="0" ref="oa:ExtendedAmount"/>
					<xsd:element minOccurs="0" ref="oa:TotalAmount"/>
					<xsd:element minOccurs="0" ref="PriceSegmentGroup"/>
					<xsd:element minOccurs="0" ref="oa:QualifiedAmount"/>
					<xsd:element minOccurs="0" ref="oa:EnterpriseUnit"/>
					<xsd:element minOccurs="0" ref="SalesTransaction"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RequestLineType">
		<xsd:complexContent>
			<xsd:extension base="oa:StatusEnabledLineType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="ProductItem"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:Quantity"/>
					<xsd:element minOccurs="0" ref="oa:UnitPrice"/>
					<xsd:element minOccurs="0" ref="OverriddenUnitPrice"/>
					<xsd:element minOccurs="0" ref="oa:ExtendedAmount"/>
					<xsd:element minOccurs="0" ref="oa:TotalAmount"/>
					<xsd:element minOccurs="0" ref="oa:QualifiedAmount"/>
					<xsd:element minOccurs="0" ref="oa:CatalogReference"/>
					<xsd:element minOccurs="0" ref="oa:ContractReference"/>
					<xsd:element minOccurs="0" ref="oa:RequiredDeliveryDateTime"/>
					<xsd:element minOccurs="0" ref="oa:AllowSubstitutionIndicator"/>
					<xsd:element minOccurs="0" ref="ShipToParty"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:DrawingAttachment"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RequestSubLineType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">The basis for the ProcurementDocumet SubLine.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oa:LineType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="oa:Item"/>
					<xsd:element minOccurs="0" name="Quantity" type="oa:QuantityType">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/platform/1">Indicates the number of order items for the given line..</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:DrawingReference"/>
					<xsd:element minOccurs="0" ref="oa:CatalogReference"/>
					<xsd:element minOccurs="0" ref="oa:ParentLineNumber"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcurementHeaderType">
		<xsd:complexContent>
			<xsd:extension base="RequestHeaderType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="oa:PartialShipmentAllowedIndicator"/>
					<xsd:element minOccurs="0" ref="oa:DropShipmentAllowedIndicator"/>
					<xsd:element minOccurs="0" ref="oa:EarlyShipmentAllowedIndicator"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:LicenseIndicator"/>
					<xsd:element minOccurs="0" name="SensitiveOrderIndicator" type="oa:IndicatorType"/>
					<xsd:element minOccurs="0" name="PremiumDeliverPackageIndicator" type="oa:IndicatorType"/>
					<xsd:element minOccurs="0" ref="oa:TaxExemptIndicator">
						<xsd:annotation>
							<xsd:documentation source="http://www.openapplications.org/platform/1">Specifies whether the associated element is exempt from withholding taxes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:TransportationTerm"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:PaymentTerm"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:DistributedCharge"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:DistributedTax"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Tax"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:Distribution"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:Charge"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:Allowance"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcurementLineType">
		<xsd:complexContent>
			<xsd:extension base="RequestLineType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="oa:PartialShipmentAllowedIndicator"/>
					<xsd:element minOccurs="0" ref="oa:DropShipmentAllowedIndicator"/>
					<xsd:element minOccurs="0" ref="oa:EarlyShipmentAllowedIndicator"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:LicenseIndicator"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:TransportationTerm"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:PaymentTerm"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:DistributedCharge"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:DistributedTax"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Tax"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:Distribution"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:Charge"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:Allowance"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcurementScheduleType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">The Quantity Indicates the number of items that are to be deliveried on the Required Date or the number of items to be delivered on each occurence of the Schedule period frequency or the number of items to be delivered on each delivery where the number of deliveries is provided by the NumberOfDelivery field below.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oa:LineType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="oa:Quantity"/>
					<xsd:choice>
						<xsd:element minOccurs="0" ref="oa:RequiredDeliveryDateTime"/>
						<xsd:element minOccurs="0" ref="oa:ScheduleTimePeriod"/>
					</xsd:choice>
					<xsd:element minOccurs="0" ref="oa:NumberOfDeliveries"/>
					<xsd:element minOccurs="0" ref="oa:ShipmentQuantityTolerance"/>
					<xsd:element minOccurs="0" ref="oa:ReasonCode"/>
					<xsd:element minOccurs="0" ref="MaxNumberofDeliveries">
						<xsd:annotation>
							<xsd:documentation>This is the maximum number of deliveries allowed for the shipment of the Items</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderType">
		<xsd:complexContent>
			<xsd:extension base="ProcurementHeaderType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="oa:SpecialPriceAuthorizationCode"/>
					<xsd:element minOccurs="0" ref="oa:EarliestShipDateTime"/>
					<xsd:element minOccurs="0" ref="oa:RequestedShipDateTime"/>
					<xsd:element minOccurs="0" ref="oa:PromisedShipDateTime"/>
					<xsd:element minOccurs="0" ref="oa:PromisedDeliveryDateTime"/>
					<xsd:element minOccurs="0" ref="oa:RequiredDeliveryDateTime"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Payment"/>
					<xsd:element minOccurs="0" ref="oa:ShippingInstructions"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DeliveryAccess"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrderLineType">
		<xsd:complexContent>
			<xsd:extension base="ProcurementLineType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="oa:FreightClassification"/>
					<xsd:element minOccurs="0" ref="oa:SpecialPriceAuthorizationCode"/>
					<xsd:element minOccurs="0" ref="oa:SubstituteItemIndicator"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:RequisitionReference"/>
					<xsd:element minOccurs="0" ref="oa:PromisedShipDateTime"/>
					<xsd:element minOccurs="0" ref="oa:PromisedDeliveryDateTime"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:ShippingInstructions"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PriceBreakType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element minOccurs="0" ref="oa:DiscountAmount">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/platform/1">Allows a flat amount to be discounted per item.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" ref="oa:DiscountPercent">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/platform/1">Indicates the percentage of the PriceBreak.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" ref="oa:OverridePrice">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/platform/1">This is the price that overrides the list price when a given price break requirement is reached. For example, if a customer orders over 50,000 dollars worth of computer equipment, he may qualify for an overriding price.  The list price of $800 per will be modified to $700 per</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element minOccurs="0" ref="oa:PriceBreakQuantity">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/platform/1">The quantity that must be purchased of the item or commodity on a given price list line before the benefit, or until the detriment of a given price break line will apply.  For example, if a customer orders up to 5000 units of flour, they will get a price of $8:00 a case.  If the customer buys 5500 units of flour they will get a price of $7.50 a case</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" ref="oa:PriceBreakAmount">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/platform/1">The monetary amount that must be spent on a given price list line before the benefit or until the detriment of a given price break line will apply.  For example, if a customer orders up to 5000 dollars worth of flour, they will get a price of $8:00 a case.  If the customer buys 5500 dollars worth of flour they will get a price of $7.50 a case</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element minOccurs="0" ref="oa:EffectiveTimePeriod"/>
			<xsd:group minOccurs="0" ref="oa:FreeFormTextGroup"/>
			<xsd:element minOccurs="0" ref="oa:UserArea"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PriceBreak" type="PriceBreakType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">This defines the prices and modifiers to the price for buying a given quantity or value of an item or item category on a price list line. For Price List Lines that specify Items the price breaks can be specified in terms of quantity or amount. For Price list lines that specify commodity, price breaks can only be specified in terms of currency amount</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="QualificationTermType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="oa:ID"/>
			<xsd:element minOccurs="0" ref="oa:Type">
				<xsd:annotation>
					<xsd:documentation source="http://www.openapplications.org/platform/1">Code type specifing the type of qualification term.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:ValueText"/>
			<xsd:group minOccurs="0" ref="oa:FreeFormTextGroup"/>
			<xsd:element minOccurs="0" ref="oa:UserArea"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="oa:NormalizedStringType"/>
	</xsd:complexType>
	<xsd:element name="QualificationTerm" type="QualificationTermType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">This is used to describe preferences that will be used to evaluate responses to an RFQ. For example, to identify a preference for sharing CAD data in VRML format the ID = VRML, Type = CAD and Value = 1 or Yes</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OrderCommissionType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Contains the relevant information about the salesperson and the associated commission information. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0">
			<xsd:element minOccurs="0" ref="oa:SalesOrganizationIDs"/>
			<xsd:element minOccurs="0" ref="oa:SalesPerson"/>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="oa:Amount"/>
					<xsd:element minOccurs="0" ref="oa:Quantity"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="oa:OrderAmount"/>
					<xsd:element minOccurs="0" ref="oa:OrderQuantity"/>
					<xsd:element minOccurs="0" ref="oa:Percentage"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element minOccurs="0" ref="oa:UserArea"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="OrderCommission" type="OrderCommissionType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Contains the relevant information about the salesperson and the associated commission information. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesTransaction" type="SalesTransactionType"/>
	<xsd:complexType name="ShippingMethodType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="oa:ShipmentServiceLevelCode"/>
			<xsd:element minOccurs="0" ref="oa:Title">
        <xsd:annotation>
          <xsd:documentation>Title for the shipping method</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
			<xsd:element minOccurs="0" ref="ShortMessage"/>
			<xsd:element minOccurs="0" ref="LongMessage"/>
			<xsd:element minOccurs="0" ref="InformationalMessage"/>
			<xsd:element minOccurs="0" ref="BookingMessage"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:Attachment"/>
			<xsd:element minOccurs="0" ref="oa:CategoryCodes">
				<xsd:annotation>
					<xsd:documentation>Shipping method category codes</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" ref="oa:Type"/>
			<xsd:choice>
				<xsd:element minOccurs="0" ref="oa:ScheduledTimePeriod"/>
				<xsd:element minOccurs="0" ref="oa:ScheduledDeliveryDateTime"/>
			</xsd:choice>
			<xsd:element minOccurs="0" ref="NextDayShipmentAllowedCode"/>
			<xsd:element minOccurs="0" ref="oa:RequiredDeliveryDateTime"/>
			<xsd:element minOccurs="0" ref="oa:ShippingInstructions"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ShippingMethod" type="ShippingMethodType"/>
	<xsd:complexType name="SalesTransactionType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="oa:ID"/>
			<xsd:element minOccurs="0" ref="oa:Type"/>
			<xsd:element minOccurs="0" ref="oa:Status"/>
			<xsd:element minOccurs="0" ref="oa:CreationDateTime"/>
			<xsd:element minOccurs="0" ref="oa:PriorityCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NextDayShipmentAllowedCode" type="oa:CodeType"/>
	<xsd:element name="DeliveryAccess" type="DeliveryAccessType"/>
	<xsd:complexType name="DeliveryAccessType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="oa:ID"/>
			<xsd:element minOccurs="0" ref="oa:Indicator"/>
			<xsd:element minOccurs="0" ref="oa:Description"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MaxNumberofDeliveries" type="oa:PositiveIntegerNumericType"/>
</xsd:schema>