Product/WMBProduct/com_kingfisher_oagis/9_5_1/Developer/Nouns/Product.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2012 (http://www.altova.com) by A Patil (Kingfisher Information Technology Services UK Ltd) --><!--

  Author: Anand Patil
  Revision:    1.0
  Date:         13 Dec 2011
  Copyright 2011, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
  --><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns="http://www.kingfisher.com/oagis/9" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../../WMBOAGISCanonicals/org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:include schemaLocation="../../../../../WMBOAGISCanonicals/com_kingfisher_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:include schemaLocation="../../../../../WMBOAGISCanonicals/com_kingfisher_platform/1_2_1/Common/OAGi/Components/PIMComponents.xsd"/>
	<xsd:element name="Product" type="ProductType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/9">Represents any unique purchased part or manufactured product.  Product, as used here, refers to the basic information about an Product, including its attributes, cost, and locations.  It does not include Product quantities.  Compare to the noun BalanceInventory, which includes all quantities and other location-specific information.

Product is used as the Product Master. 

The Product provides details about an Product in many domains of an enterprise. Each domain or functional area are interested in different views of the Product. The Product provides information to the following partial list of functional areas: Manufacturing, Order Management along with the Catalog view, Logistics, Engineering along with the EngineeringDocument, CRM, and Financials.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProductType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/9">Represents any unique purchased part or manufactured product.  Product, as used here, refers to the basic information about an Product, including its attributes, cost, and locations.  It does not include Product quantities.  Compare to the noun InventoryBalance, which includes all quantities and other location-specific information.

Product is used as the Product Master.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ProductItemType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ItemSalesOrganisation"/>
					<xsd:element minOccurs="0" ref="BusinesPolicyCodes"/>
					<xsd:element minOccurs="0" ref="Allowance"/>
					<xsd:element minOccurs="0" ref="HandlingCategoryCode"/>
					<xsd:element minOccurs="0" ref="SeasonalCategoryCode"/>
					<xsd:element minOccurs="0" ref="SupplySourceID"/>
					<xsd:element minOccurs="0" ref="SupplySourceRouteID"/>
					<xsd:element minOccurs="0" ref="PurchasingParty"/>
					<xsd:element minOccurs="0" ref="oa:ClassificationSchemeID"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="HandlingCategoryCode" type="oa:CodeType"/>
	<xsd:element name="SeasonalCategoryCode" type="oa:CodeType"/>
	<xsd:element name="SupplySourceID" type="oa:IdentifierType"/>
	<xsd:element name="SupplySourceRouteID" type="oa:IdentifierType"/>
</xsd:schema>