CommonFlow/WMBCanonicals/com_kingfisher_oagis/9_5_1/Developer/Nouns/ProductSet.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2012 (http://www.altova.com) by A Patil (Kingfisher Information Technology Services UK Ltd) --><!--

  Author: Anand Patil
  Revision:    1.0
  Date:         13 Dec 2011
  Copyright 2011, All Rights Reserved 
  	
  Copyright (C) Kingfisher Group PLC. All Rights Reserved.
  --><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kingfisher.com/oagis/9" xmlns="http://www.kingfisher.com/oagis/9" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../org_openapplications_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:include schemaLocation="../../../../com_kingfisher_platform/1_2_1/Common/OAGi/Components/Components.xsd"/>
	<xsd:include schemaLocation="../../../../com_kingfisher_platform/1_2_1/Common/OAGi/Components/PIMComponents.xsd"/>
	<xsd:element name="ProductSet" type="ProductSetType"/>
	<xsd:complexType name="ProductSetType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ProductSetHeader" type="ProductSetHeaderType"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ProductSetItemsData"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductSetHeaderType">
		<xsd:complexContent>
			<xsd:extension base="ProductItemType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ProductSetItemsData" type="ProductSetItemsDataType"/>
	<xsd:complexType name="ProductSetItemsDataType">
		<xsd:complexContent>
			<xsd:extension base="ProductSetItemsType"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>